<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>

  <div class="login-container">
    <h2 class="login-title">Admin Login</h2>

    <form action="/login" method="post" class="login-form">
      <input type="email" placeholder="Email" name="email" required class="login-input" />
      <input type="password" placeholder="Password" name="password" required class="login-input" />
      <input type="submit" value="Login" class="login-button" />
    </form>

    <div class="login-back-link">
      <a href="/">← Back to Home</a>
    </div>
  </div>

</body>
</html>
